<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>New Beer</h2>
    <%= form_for(@beer) do |f| %>
      <% if @beer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
          <ul>
            <% @beer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="actions form-group">
        <%= f.submit "New Beer", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
